body {
    margin: 0;
    padding: 0;
    font-family: SUITE;
}

.header {
    width: 100%;
    height: 100px;
    position: fixed;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #d9d9d9;
    background-color: white;
    z-index: 100;

}

.header img {
    height: 40px;
    margin-left: 50px;
}

.cha-container {
    display: inline-block;
}

.cha-nav {
    width: 290px;
    height: calc(100vh - 100px);
    background-color: #FFEDED;
    position: fixed;
    top: 100px;
    /* display:flex;
    align-content: center; */
}

a {
    text-decoration: none;
}

.fa-solid {
    margin-right: 15px;
}

.nav.cha-fedger {
    margin-top: 30px;
}

.nav {
    width: 130px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    padding: 0 50px;
    /* border :1px solid black; */
    margin: 13px auto;
    color: #333;
    font-weight: bold;
    /* transform: translate(10%,-50%); */
}

.nav:hover {
    background-color: #FF7171;
    color: white;
}

.cha-content {
    width: calc(100vw - 307px);
    height: 100vh;

    position: relative;
    left: 290px;
    top: 100px;

}

.temp {
    width: 300px;
    height: 300px;
    background-color: aqua;
}
.tetris{
    border:1px solid black;
    width:290px;
    height:300px;
    position:fixed;
    bottom:50px;
    overflow: hidden;
}

.t-sad{
    position: absolute;
    bottom:0;
    width:60px;
    animation: sad 10s infinite;
}
.t-happy{
    position: absolute;
    bottom:0;
    width:60px;
    animation: happy 10s infinite;
}
.t-boring{
    position: absolute;
    bottom:0;
    width:60px;
    animation: boring 10s infinite;
}
.t-frustrating{
    position: absolute;
    bottom:0;
    width:90px;
    animation: frustrating 10s infinite;
}
.t-angry{
    position: absolute;
    /* bottom:0; */
    /* right:140px; */
    width:60px;
    animation: angry 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes angry  {
    0%{
        right:140px;
        top:-50px;
    }10%{
        top:100px;
    }20%{
        bottom:0px;
        right:70px;
    }30%{
        /* right:70px;
        bottom:50px; */
    }40%{
        /* bottom:0px;
        right:70px; */
    }50%{

    }60%{

    }70%{

    }80%{

    }90%{

    }100%{
        
    }
}